
.note-list h1 {
    text-align: center;
    color: darkblue;
    flex:1;
}

.note-list .note {
    border:1px solid #333;
    border-radius: 4px;
    width: 250px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    height: 280px;
    background-color: rgb(224, 236, 230);
}

.note-list .note-img {
    width: 100%;
    max-height: 160px; ;


}
.note-list .title-row {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.note-details {
    max-width: 800px;;
    margin-left: auto;
    margin-right: auto;
}

.note-details .main-img {
    max-width: 100%;
}

.note-details h3 {
    margin-top: 20px;
    margin-bottom: 20;
    color: darkcyan;
}
.note-details p {
    white-space: pre-wrap;
}
.note-details .date {
    font-size: 12px;
    color: grey;
}


@media(max-width:767px) {
    /* CSS for MOBILE*/

.note-list .title-row {
   flex-direction: column;
   padding-right: unset;
   margin-bottom: 12px;
}
.note-list .note {
    width: 100%;
    margin: 12px;
}

.note-list .list {
    padding: 0 12px;
}

.note-list .note img {
    width: 100%;
    height: unset;
    max-height: unset;
}
.note-details .comment{
    padding: 10px;
    background-color: azure;
    border: 1px solid white;
    margin-bottom: 10 px;
    border-radius: 6px;
}
.note-details .comment p {
    margin: 3px;
        
}
.note-details .comment .author {
    font-weight: 600;
    color: rgb(87, 135, 135);
}

.note-details .comment .date {
    font-size: 12px;
    color:#434445;
}
}